a {
  color: rgb(254, 255, 208);
  text-decoration: none;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.app-link {
  color: #09d3ac;
}

.menu li :hover {
  background: #ffffff52;
}

.title {
  background-color: #2b2929;
  color: #ffbb00;
}

.main {
  display: flex;
  gap: 1rem; 
  height: 100%;
}

.header {
  background-color: #2b2929;
  display: flex;
  font-weight: bold;
  font-size: 40px;
  justify-content: center;
}

.left {
  display: flex; 
  justify-content: center; 
  width: 100%;
  padding: 2rem;
}

.submit {
  background-color:#2b2929;
}

.about {
  font-size: 20px;
  color: rgb(254, 255, 208);
  height: 100%;
  line-height: 1.75rem;
}

.infos-profil {
  font-size: 20px;
  color: rgb(254, 255, 208);
  line-height: 2rem;
}

.btn {
  background-color: #2b2929;
  box-sizing: content-box;
  color: rgb(254, 255, 208);
  font-size:23px;
  text-align: center;
  width : 130px; 
  height : 35px;
  border-radius : 10px;
  position: fixed;
  margin-top: 5px;
  margin-left: 70rem; 
}

.btn1 {
  background-color: #2b2929;
  box-sizing: content-box;
  color: rgb(254, 255, 208);
  font-size:23px;
  text-align: center;
  width : 130px; 
  height : 35px;
  border-radius : 10px;
  position: fixed;
  margin-top: 5px;
  margin-left: 70rem; 
}

.btn2 {
  background-color: #2b2929;
  box-sizing: content-box;
  color: rgb(254, 255, 208);
  font-size:23px;
  text-align: center;
  width : 130px; 
  height : 35px;
  border-radius : 10px;
  position: fixed;
  margin-top: 5px;
  margin-left: 60rem; 
}

.formulaire {
  display: flex;
  align-items: center;
  flex-direction: column;
  width : 130px; 
  font-size: 23px;
  height : 35px;
  padding-top: 2rem;
  justify-content: center;
}

.signup {
  display: flex;
  align-items: center;
  flex-direction: column ;
  width: 25rem;
  height: 25rem;
  border-radius: 100px;
  justify-content: center;
  background-color: #202022;
  margin-top: 5rem;
  padding-bottom: 8rem;
  line-height: 2rem;
}

.signup h1 {
  padding-bottom: 6rem;
}

.submit {
  margin-top: 1rem;
}

.dropdownM {
  display: none;
  max-width: 6rem;
}

.dropdownM a {
color: rgb(254, 255, 208);
padding: 20px;
text-decoration: none;
display: block;
}

.dropdown:hover .dropdownM {
display: block;
}

@media screen and (max-width: 768px) {
  .app-header {
    background-color: #181818;
    height: 100vw;
    display: flex;
    flex-direction: column;
    color: #ffbb00; 
  }
   

  .info-container-extra {
    max-width: 10rem;
    display: none;
  } 

  .row {
    display: flex;
    max-width: 13rem;
    flex-direction: column;
    gap: 1rem;
  }

  .amis {
    display: none;
  }

  .merci{
    display: none;
  }

  .total {
    display: none;
    font-size: 15px;
    flex-direction: column;
    color: #ffbb00; 
    width: 10rem;
    background-color: #202022;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    position: absolute;
  }

  .jeandidier {
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    width : 120px; 
    height : 70px;
    border-radius : 10px;
  }

  .widgets {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 800px;
    max-height: 800px;
    padding-top: 2rem;
    padding-left: 1rem;

  }

  .menu {
    display: none;
  }

  .btnMenu {
    background-color: #2b2929;
    box-sizing: content-box;
    color: rgb(254, 255, 208);
    font-size: 20px;
    width : 100px; 
    height : 35px;
    margin-top: 2rem;
    border-radius : 20px;
  }

  .about-user {
    font-size: 20px;
    color: rgb(254, 255, 208);
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .app-header {
    background-color: #181818;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffbb00; 
  }
   
  .row {
    display: flex;
    min-width: 40rem;
    gap: 1rem;
  }

  .amis {
    font-size: 20px;
    color: rgb(254, 255, 208);
    margin-top: 3rem;
    margin-right: 5rem;
    line-height: 2.5rem;
  }

  .merci {
    font-size: 20px;
    color: rgb(254, 255, 208);
    text-align: bottom;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .jeandidier{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    width : 200px; 
    height : 130px;
    border-radius : 10px;
  }

  .total {
    display: flex;
    margin-top: 0.75rem;
    margin-left: 5rem;
    font-size: 25px;
    flex-direction: column;
    color: #ffbb00; 
    width: 100%;
    background-color: #202022;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .widgets {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 800px;
    max-height: 800px;
    justify-content: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    line-height : 3;
    font-size: 25px;
    padding: 1rem 2rem;
    list-style: none;
    background-color: #2b2929;
    color: rgb(254, 255, 208);
    height: 100%;
    max-width: 195px;
  }

  .btnMenu {
    display: none;
  }

  .about-user {
    font-size: 20px;
    padding-right: 200px;
    color: rgb(254, 255, 208);
    height: 100%;
  }
}