.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 30;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 15px;
  background-color: #202022;
  flex-grow: 1;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container p {
  padding-left: 15px;
}

.info-container {
  line-height: 1.6;
  padding-left: 15px;
}

p {
  color: white;
  font-size: large;
}